<h1>Profile</h1>

<p>{{currentUser.username}}</p>


<a href="">Recipes</a><br>
<a href="">Favourites Recipes</a>
<form action="/auth/logout" method="POST">
  <button type="submit">Logout</button>
</form>