<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/error.css">
</head>

<body>
  <div class="error-container">
    <div class="error-div">
      <p class="title">My Foody</p>
      <h1>404</h1>
      <p>Oops! The page you requested was not found!</p>
      <a href="/">Go Home</a>

    </div>
  </div>

</body>

</html>