@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

/* Blanco #e8edf3
gris claro labels: #95a5a6
Amarillo #e6cf8b
Rojo #b56969
Azul #22264b
Gradient FF5F6D FFC371
background linear-gradient(135deg, rgba(241,242,246,1) 0%, rgba(255,255,255,1) 100%);
Unselected Checkbox #d1ccc0
*/

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;

    background: linear-gradient(135deg, rgba(241,242,246,1) 0%, rgba(255,255,255,1) 100%);
    width: 100vw;
}

.main-toolbar-space {
    width: 100%;
    height: 10px;
    /* border: 1px solid red; */
}

.main-toolbar {
    width: 100vw;
    position: sticky;
    top: 0px;
    /* border: 1px solid black; */
}

.main-toolbar form {
    display: flex;
    justify-content: space-around;
}

.main-toolbar form input {
    width: calc(100% - 135px);
    height: 25px;
    margin: 11px 0 0 10px;
    padding-top: 5px;
    border: 0px solid #fff;
    box-shadow: 0px 0px 26px 1px rgba(0,0,0,0.1);
    border-radius: 10px;
    font-size: 1em;
    text-align: center;
}

.main-button {
    padding: 10px 12px;
    border: 0px solid black;
    color: white;
    border-radius: 40px;
    background: -webkit-linear-gradient(135deg, #FF5F6D, #FFC371);
    box-shadow: 0px 0px 41px -4px rgba(0,0,0,0.8);
    margin: 8px 5px 0 0;   
}

.main-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin: 0 5px;
    height: 100%;
}

.card {
    background: #ffffff;
    /* border: 1px solid #d1ccc0; */
    border-radius: 6px;
    width: 44%;
    height: 204px;
    margin: 10px 0;
    overflow: hidden;
    box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.4);
}

.card .card-img {
    width: 100%;
    height: 55%;
}

.card .card-img img {
    width: 100%;
    height: 100%;
}

.card-info {
    height: 67px;
}

.card h1 {
    margin: 2px 0 0 5px;
    font-family: "Lato", sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    max-height: 42px;
    overflow: hidden;
}

.card .card-author {
    color: #95a5a6;
    margin: 8px 0 4px 4px;;
    font-size: 0.8em;
    font-style: italic;
}

.card hr {
    border: 1px solid #f5f6fa;
    margin: 0;
}

.card .card-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    font-size: 11px;
    color: #bdc3c7;
}

.card .card-options p {
    margin: 4px;
}

/* HAMBURGER LAST BACKLOG! */
.button-menu {
    display: flex;
    /* justify-content: flex-end; */
    margin-left: auto;
    position: sticky;
    bottom: 10px;
}

.button-menu .main-burger {
    padding: 20px 23px;
    border: 0 solid black;
    color: white;
    border-radius: 50px;
    background: -webkit-linear-gradient(135deg, #FF5F6D, #FFC371);
    box-shadow: 0px 0px 41px -4px rgba(0,0,0,0.8);
    margin: 20px 10px 10px;

    z-index: 1;
    display: inline-block;
    cursor: pointer;
}

.burger-bar-1, .burger-bar-2, .burger-bar-3 {
    /* width: 35px;
    height: 5px; */
    width: 26px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.4s;
    border-radius: 4px;
}

/* Rotate first burger-bar */
.change .burger-bar-1 {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg) translate(-7px, 6px);
}

/* Fade out the second burger-bar */
.change .burger-bar-2 {
    opacity: 0;
}

/* Rotate last burger-bar */
.change .burger-bar-3 {
    /* -webkit-transform: rotate(45deg) translate(-8px, -8px); */
    transform: rotate(45deg) translate(-6px, -6px);
}

.main-button-a {
    width: 20px;
    border: 0 solid black;
    color: white;
    border-radius: 40px;
    background: -webkit-linear-gradient(135deg, #FF5F6D, #FFC371);
    box-shadow: 0px 0px 41px -4px rgba(0,0,0,0.8);
}

.button-menu .main-button-add {
    padding: 11px 6px 8px 12px;
    font-size: 16px;
    left: -50px;
    bottom: 50px;
}

.button-menu .main-button-home {
    transition: 0.6s;
    padding: 10px 10px;
    left: -40px;
    bottom: -5px;
}

.button-menu .main-button-user {
    transition: 0.6s;
    left: -10px;
    bottom: 95px;
}

.button-menu .search-voice-button {
    transition: 0.6s;
    font-size: 16px;
    border-radius: 40px;
    padding: 11px 12px 8px 13px;
    left: 50px;
    bottom: 95px;
}

.button-menu-bubble {
    transition: 0.6s;
    position: absolute;
    right: 25px;
    bottom: 30px;
    z-index: -1;
    /* opacity: 0; */
}
